<app-header></app-header>
<div class="row">
  <div class="col">
    <div #home_header class="mb-3">
        <h3 #home_header_title class="font-weight-bold">{{ app.title }} {{ user.actual_location }}</h3>
        <div #home_header_subtitle>{{ app.subtitle }}</div>
    </div>
    <div #home_body class="mb-3">
      <app-card *ngFor="let action of actions"></app-card>
    </div>

  </div>
</div>
<app-alert *ngIf="show_alert()"></app-alert>
<div class="row">
  <div class="col">
    <button class="btn btn-dark w-100" (click)="on_action()">{{ app.action }}</button>
  </div>
</div>
<app-footer></app-footer>
